<html>
  <head>
    <title>WebSockets echo server</title>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
  </head>

  <body>
    Open your browser console to see the logs.
    <script type="module">
      import Client from './lib/client.js';
      import services from './lib/services.js';

      const client = new Client();

      client.addEventListener('error', console.error);
      client.addEventListener('open', () => console.log('Connection opened.'));
      client.addEventListener('close', () => console.log('Connection closed.'));

      client.addEventListener('message', event => {
        console.log(event.data);
      });

      window.services = services;
      window.connect = service => client.connect('{{ asyncapi.server(params.server).url() }}', service);
      window.send = message => client.send(message);

      // Display help
      console.log('Available services:')

      for (const serviceKey of Object.keys(services)) {
        console.log(`* services.${serviceKey}`)
      }

      console.log('Available commands:')
      console.log('- connect: Establish a connection with the server at a given path.')
      console.log('  Usage: connect(service)');
      console.log(`  Example: listen(services.${Object.keys(services).shift()})`);
      console.log('- send: Send a message to the server at a currently connected service.')
      console.log('  Usage: send(message)');
      console.log('  Example: send(\'Hello server\')');
    </script>
  </body>
</html>
